@media only screen and (max-width: 7000px){
	.page-wrapper{
		overflow: hidden;
	}
	
}

@media only screen and (max-width: 1560px){
	.check-availability.style-four li.date {
		max-width: none;
		width: auto;
	}
}

@media only screen and (max-width: 1320px){
	section.news-section-two .auto-container,
	section.welcome-section-four .auto-container,
	.main-header.header-style-four .auto-container,
	header.main-header.header-style-three .auto-container,
	.main-header.header-style-eight .auto-container,
	header.main-header.header-style-six .auto-container,
	.main-header.header-style-five .auto-container,
	section.accomodation-section .auto-container,
	.main-header.header-style-two .auto-container,
	.main-header.header-style-one .auto-container {
		padding: 0 15px;
	}
	section.banner-section-three {
		margin: 0;
	}
	header.main-header.header-style-three {
		top: 10px;
	}
	.check-availability.style-two {
		position: relative;
	}
	section.banner-section-three.style-two .wrapper-box {
		padding-bottom: 160px;
		padding-top: 250px;
	}
	.check-availability.style-four li.date {
		max-width: none;
		width: auto;
	}	
	.check-availability.style-four {
		position: relative;
		padding-left: 30px;
		padding-right: 30px;
		padding-bottom: 0;
	}	
	.banner-section.style-four .content-box {
		min-height: 900px;
		padding-bottom: 0;
	}
	section.welcome-section-four .right-column {
		padding-left: 0;
	}
	header.main-header.header-style-six {
		top: 20px;
	}
	section.banner-section.style-six .bg {
		left: 0;
		right: 0;
		top: 0;
	}
	.mobile-nav-toggler.style-three {
		bottom: auto;
		height: 70px;
		position: absolute;
		top: 15px;
		left: 15px;
	}
	section.banner-section.style-seven .banner-outer-box {
		margin-left: 0;
	}
}	

@media only screen and (max-width: 1199px){
	.banner-section .banner-slider-nav {
		display: none;
	}
	.header-top .right-column {
	    display: none;
	}
	.header-top .left-column {
		width: 100%;
		justify-content: center;
	}
	.banner-section .content-box h1 {
		font-size: 60px;
		line-height: 70px;
	}
	.main-header.header-style-three .header-upper .right-column {
		display: none;
	}
	
	.main-header.header-style-three .nav-outer {
		width: 100%;
		justify-content: space-between;
	}

	section.feature-section .image {
		display: block;
	}
	
	section.feature-section .bg {
		display: none;
	}
	
	section.aminities-section-two .bg {
		display: none;
	}
	
	section.aminities-section-two .image {
		display: block;
	}
	section.aminities-section-two .content-block {
		padding-left: 30px;
	}
	
	section.feature-section .inner-box {
		padding-left: 30px;
	}
	.check-availability.style-four .left-side>ul>li {
		width: 100%;
		margin-right: 0;
	}

	.check-availability.style-four .left-side {
		width: 100%;
	}

	.check-availability.style-four .right-side {
		width: 100%;
		padding: 0;
	}

	.check-availability.style-four br {
		display: none;
	}

	.check-availability.style-four button {
		width: 100%;
		border-radius: 0;
		border-bottom-left-radius: 8px;
		border-bottom-right-radius: 8px;
		padding: 20px;
	}
	section.banner-section-three.style-three .bg {
		width: 100%;
	}
	.left-outer-container {
		padding: 0 15px;
	}
}

@media only screen and (max-width: 1139px){
	/* Default */
	.main-header .nav-outer .main-menu,
	.sticky-header{
		display: none !important;
	}
	.nav-outer .mobile-nav-toggler{
		display: block;
	}
	header.main-header.header-style-eight,
	header.main-header.header-style-six,
	header.main-header.header-style-five {
		top: 0;
	}
}

@media only screen and (min-width: 992px){

}

@media only screen and (max-width: 991px){


	.banner-section.style-two .content-box h1,
	h1.banner-title,
	.page-title h1,
	.banner-section .content-box h1 {
		font-size: 50px;
		line-height: 60px;
	}
	section.activities-section .inner-box {
		margin-left: auto;
		margin-right: auto;
	}
	section.testimonials-section.style-two:before {
		width: 100%;
	}
	section.about-section-two .title-text {
		margin-bottom: 30px;
	}
	section.banner-section-three .wrapper-box {
		background-position: center right;
	}
	section.welcome-section-seven .content-block {
		max-width: 100%;
	}
	section.team-section-two .text {
		margin-top: 0;
		margin-bottom: 50px;
		width: 100%;
	}
	section.contact-form-section .inner-box {
		margin-left: 0;
	}
	
	section.contact-form-section .text-two {
		margin-left: 0;
	}
	
	section.contact-form-section .text-three {
		margin-left: 0;
	}
	
	section.contact-form-section .icon-box {
		margin-left: 0;
	}

	.style-two .filter-tabs li {
		margin-bottom: 10px;
	}
	
	section.team-section-two .title-box .sec-title {
		margin-bottom: 20px;
	}
	.we-invite-section .contact-block {
		padding-left: 30px;
		margin-left: 0;
	}
	
	section.we-invite-section .award {
		position: relative;
		margin-top: 50px;
	}
	.comment-form {
		margin-left: 0;
		margin-bottom: 30px;
	}
	.service-block-three .content {
		margin-left: 0;
		padding: 30px;
		min-height: auto;
	}
	.service-block-three .link-btn {
		position: relative;
		right: 0;
		bottom: 0;
		padding-left: 0;
		margin-top: 10px;
	}
	.featured-block {
		margin-bottom: 30px;
	}
	.news-block-two .lower-content {
		padding-left: 0;
		padding-right: 0;
	}
	
	.blog-post-share-icon {
		margin-left: 0;
	}
	section.welcome-section-four .inner-box {
		margin-right: 0;
	}
	.room-block-two {
		margin-bottom: 30px;
	}
	.news-block-two .lower-content {
		margin-left: 0;
	}
	section.welcome-section-six .author-info {
		margin-bottom: 30px;
	}

	section.why-choose-us-section {
		padding-bottom: 0;
	}
	
	.why-choose-us-block {
		margin-bottom: 50px;
	}
	
	section.why-choose-us-section .text-two {
		margin-top: 70px;
		margin-left: 0;
	}
	
	section.why-choose-us-section .icon-list {
		margin-left: 0;
	}

	section.aminities-section-four .link-btn {
		margin-bottom: 30px;
	}

	section.about-section-two .image {
		margin: 0 0 30px;
	}
	
	section.about-section-two .content {
		margin-left: 0;
	}

	section.room-section-three .curve-text {
		position: relative;
		left: 0;
		transform: inherit;
		margin-left: 0;
	}
	
	section.room-section-three .outer-box {
		padding-left: 15px;
		padding-right: 15px;
	}

	section.welcome-section-five .image-three {
		margin-bottom: 30px;
	}
	section.welcome-section-five .image {
		margin-top: 30px;
	}

	.contact-map {
		margin-bottom: 30px;
	}

	.welcome-block-three {
		margin-bottom: 30px;
	}

	section.welcome-section-seven .content-block {
		margin-top: 30px;
		margin-left: 0;
	}

	.Welcome-block {
		margin-bottom: 30px;
	}

	section.about-section .content-block {
		margin-bottom: 50px;
	}

	.offer-block-two {
		margin-bottom: 30px;
	}
	
	.offer-block-three {
		padding-left: 15px;
	}
	
	.service-block-one .image-block {
		margin-bottom: 30px;
	}
	
	.news-block .inner-box {
		margin-bottom: 30px;
	}
	
	.news-block .date br {
		display: block;
	}
	
	section.about-us-section .content-block {
		margin-top: 0;
		margin-right: 0;
	}
	.news-block .inner-box,
	.room-block .inner-box {
		max-width: 370px;
		margin-left: auto;
		margin-right: auto;
	}
	section.testimonials-section .content-block {
		margin-bottom: 30px;
		margin-right: 0;
	}
	section.testimonials-section .award {
		position: relative;
		right: 0;
		top: 0;
		margin-top: 30px;
	}
	section.funfact-section .count-outer.count-box {
		text-align: center;
	}	
	section.funfact-section .text {
		text-align: center;
	}
	footer.main-footer .gallery-overlay {
		margin-bottom: 30px;
	}
	section.about-us-section .content-block .link-btn {
		position: relative;
		margin-top: 30px;
	}	
	section.about-us-section .content-block {
		padding-left: 20px;
		padding-right: 20px;
	}	
	section.about-us-section .content-block .award {
		position: relative;
		top: 0;
		left: 0;
		margin-top: 30px;
	}
	section.about-us-section .image {
		margin-left: 0;
	}
	section.room-section .top-content .right-column {
		width: 100%;
	}
	
	section.room-section .top-content {
		margin-bottom: 50px;
	}
	
	section.service-section-two .content-block {
		padding: 100px 30px;
	}
}

@media only screen and (min-width: 768px){
	.main-menu .navigation > li > ul,
	.main-menu .navigation > li > ul > li > ul{
		display:block !important;
		visibility:hidden;
		opacity:0;
	}
}

@media only screen and (max-width: 767px){	
	header.main-header.header-style-seven {
		top: 5px;
	}
	
	header.main-header.header-style-seven .logo-box {
		width: 100%;
		text-align: right;
	}
	
	header.main-header.header-style-seven .auto-container {
		padding: 0 0;
	}
	br {
		display: none;
	}
	.main-header .header-upper .right-column,
	.main-header .header-upper .navbar-right {
		display: none;
	}

	.testimonial-block.style-two {
		background: #f5f6f7;
		padding: 35px 20px;
	}

	.testimonial-block h3 {
		line-height: 1.2em;
		margin-top: -15px;
		margin-bottom: 20px;
	}
	
	section.testimonials-section-two h3 .quote {
		line-height: 1.2em;
	}

	.check-availability.style-five {
		position: relative;
	}
	
	section.accomodation-section.style-two h3 {
		margin-bottom: 20px;
	}

	section.welcome-section-two .image-two {
		position: relative;
		top: 0;
		left: 0;
		border: 0;
		margin-top: 20px;
	}

	.map-section .content-column {
		padding: 30px;
	}
	
	.feature-block-two .inner-box {
		margin: 0 auto;
	}

	.check-availability.style-three {
		position: relative;
	}

	section.why-choose-us-section .text-three br {
		display: block;
	}

	section.service-section .content-block {
		padding-left: 15px;
		padding-right: 15px;
	}

	section.testimonials-section .owl-dot-style-one .owl-dots {
		text-align: right;
		margin-top: -75px;
	}
	

	.award h4 br {
		display: block;
	}

	.sec-title {
		font-size: 36px;
		line-height: 50px;
	}
	
	.check-availability .left-side>ul>li {
		width: 100%;
	}

	.check-availability .left-side {
		width: 100%;
		padding-left: 30px;
	}

	.check-availability .right-side {
		width: 100%;
		padding: 0 30px;
		padding-bottom: 30px;
	}

	.main-header .header-upper .search-toggler,
	.check-availability br {
		display: none;
	}
	.check-availability.style-two button,
	.check-availability.style-six button,
	.check-availability button {
		width: 100%;
		border-radius: 0;
		border-bottom-left-radius: 8px;
		border-bottom-right-radius: 8px;
		padding: 20px;
	}
	.main-header.header-style-six .header-upper .inner-container {
		padding-left: 0;
	}	
	header.main-header.header-style-six .mobile-nav-toggler.style-two {
		left: auto;
		right: 0;
	}	
	.mobile-menu.style-two .menu-box {
		padding-left: 20px;
	}	
	.banner-section.style-six .content-box {
		padding-left: 15px;
	}
	.history-block {
		padding-left: 0;
	}	
	.history-block .years {
		position: relative;
	}	
	.history-block:before {
		opacity: 0;
	}
	.comming-soon .emailed-form .form-group input[type="email"] {
		width: 100%;
		margin-bottom: 20px;
	}
	

}

@media only screen and (max-width: 575px){
	.why-choose-section .list li {
		width: 100%;
	}
	.owl_nav_style_one.owl-theme .owl-nav {
		display: none;
	}
	.news-block .lower-content {
		margin-left: 0;
	}
	.news-block-two .lower-content {
		padding-left: 0;
		padding-right: 0;
	}
	.news-block-two ul li {
		margin-left: 0;
	}
	.comments-area .comment {
		padding-left: 0;
	}	
	.comments-area .comment-box .author-thumb {
		position: relative;
	}	
	.sidebar-page-container .author-box {
		padding: 30px;
	}	
	.sidebar-page-container .author-box .image {
		position: relative;
		left: 0;
		top: 0;
		margin-bottom: 30px;
	}	
	.post-tag .social-icon {
		margin-top: 15px;
	}	
	section.welcome-section-six .signature {
		margin-top: 30px;
	}
	.blog-post-share-icon .share-icon {
		margin-bottom: 20px;
	}	
	.blog-post-share-icon ul.social-icon li {
		margin-bottom: 22px;
	}
	.news-block-two .date {
		margin-right: 20px;
	}
	section.welcome-section-two ul li,
	section.why-choose-us-section ul li,
	section.about-section ul li {
		width: 100%;
	}
	section.why-choose-us-section .image-block {
		position: relative;
		bottom: 0;
		left: 0;
	}
	.offer-block-two .content {
		max-width: 100%;
	}
	section.we-invite-section .award {
		left: 0;
	}
	section.testimonials-section-two .award {
		position: relative;
		top: 0;
		margin-top: 20px;
	}
}


@media only screen and (max-width: 350px) {

}









